
56658455233__9E4A9500-1C1F-48BB-87D7-38673EACF017.jpg
IMG_1929.jpeg
IMG_3640.jpg
IMG_3643.jpg
mini versions/Materials cost list.numbers
mini versions/Volume1_mini_cover.3dm
mini versions/Volume1_mini_cover.ai
mini versions/Volume1_mini_reverse.ai
mini versions/Volume1_mini_spine.3dm
mini versions/Volume1_mini_spine.ai
record.wav
record__.wav
.DS_Store
